@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Nav Bar Section 1 */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.nav {
 width: 100%;
 display: flex;
 justify-content: space-around;
 padding-top: 25px;
 padding-top: 70px;
 background-color: #1f2937;

}

.text {
    padding: 0;
    margin: 0;
    position: relative;
    right: 84px;
  
}
.h2first {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    margin-right: 90px;
    position: relative;
    left: 1px;
}
li , a , ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  
    
}


/* Section 2 */

.container {
    background-color: #1f2937;
   width: 100%;
   height: 600px;
   text-align: left;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 150px;
}
.box {
    
    width: 900px ;
    height: 300px;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: white;
    text-align: left;
    padding: 20px;  
}
.img-1 , img {
    width: 640px;
    height: 440px;
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 50px;

}

.p1 {
 font-size: 18px;
 margin-left: 5px;
}
.h-1 {
    font-size: 48px;
   margin-bottom: -15px;
   padding: 0;
   margin-left: 5px;
}
.styled-button {
    font-family: "Roboto", sans-serif;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
   border-style: none;
   margin-left: 5px;
  
}
.move {
    display: block;
}



/* Section 2 */
.-h1 {
    width: 100%;
    height: 250px;
   
   display: flex;
   justify-content: center;
   font-weight: bold;
   font-family: "Roboto", sans-serif;
   font-size: 36px;
}
.fonth1 {
 padding: 20px;
}

.box1 {
 width: 200px;
 height: 200px;
 background-color: rgb(218, 218, 211);
 border-radius: 20px;
 border: 3px solid #3882f6;
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(218, 218, 211);
    border-radius: 20px;
    border: 3px solid #3882f6;
    
}
.box3 {
    width: 200px;
    height: 200px;
    background-color: rgb(218, 218, 211);
    border-radius: 20px;
    border: 3px solid #3882f6;
}
.box4 {
    width: 200px;
    height: 200px;
    background-color: rgb(218, 218, 211);
    border-radius: 20px;
    border: 3px solid #3882f6;
    
}
.container2 {
    width: 100%;
    height: 200px;
   
   display: flex;
   justify-content: center;
   gap: 50px;
  
}
.container3 {
    width: 100%;

    
   display: flex;
   justify-content: center;
   gap: 50px;
}
.p3 {
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}



/* Section 3 */
.container4 {
    background-color: #ffffff;

    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    padding-bottom: 50px ;
}
.article {
    width: 950px;
    height: 210px;
    text-align: left;
    font-size: 36px;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
   
}
.thor {
    background-color: rgb(255, 255, 255);
    text-align: right;
   font-weight: bold;
   font-size: 20px;
   
}
/* Section 4 */

.container5 {

    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.c5 {
 background: #3882f6;
 border-radius: 10px;
width: 990px;
height: 70px;
text-align: left;
color: white;
padding-left: 30px;
padding-top: 25px;
padding-bottom: 25px;
margin-bottom: 100px;


}
.font , .cc {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    
}
.font {
    font-size: 20px; 
}
.cc {
    font-weight: 700;
}
.weight {
    font-weight: 300;
}

.button {
    background-color: #3882f6 ;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    left: 750px;
    bottom: 25px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    
  
}
/* Section 5 */ 

.footer {
    width: 100%;
    height: 120px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer1{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 17px;

}

